<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qst.examsystem.mapper.CourseMapper">
    <insert id="addCourse" parameterType="course">
        <![CDATA[
insert into
    course(cname,zyname,tname,caddtime,cupdatetime,caddperson,cupdateperson)
    values(#{cname},#{zyname},#{tname},#{caddtime},#{cupdatetime},#{caddperson},#{cupdateperson})
]]>
    </insert>
</mapper>