<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qst.examsystem.mapper.JkyMapper">
    <!--查询所有
     （jkid，姓名 jkname ，监考课程 jkcourse ，密码 jkpw ，添加时间 jkaddtime ，修改时间 jkupdatetime ，添加人 jkaddperson ，修改人 jkupdateperson ）
     -->
    <select id="findJkyByCond" parameterType="jky"
            resultType="jky">
        select jkname , jkcourse,jkpw,jkaddtime,jkupdatetime,jkaddperson ,jkupdateperson from jky
    </select>

    <select id="findJkyCount"  resultType="int"  parameterType="jky">
        select count(*) from jky
    </select>

    <insert	id="addJky" parameterType="jky" >
		insert into jky(jkname , jkcourse,jkpw,jkaddtime,jkupdatetime,jkaddperson ,jkupdateperson)
			values(#{jkname},#{jkcourse},#{jkpw},#{jkaddtime},#{jkupdatetime},#{jkaddperson},#{jkupdateperson})
	</insert>

    <update id="findJkyModify"  parameterType="jky">
        update jky
        <set>
            <if test="jkname !=null and jkname!=''">
                jkname=#{jkname},
            </if>
            <if test="jkcourse !=null and jkcourse !=''">
                jkcourse=#{jkcourse},
            </if>
            <if test="jkpw !=null and jkpw !=''">
                jkpw=#{jkpw},
            </if>
            <if test="jkaddtime !=null and jkaddtime !=''">
                jkaddtime=#{jkaddtime},
            </if>
            <if test="jkupdatetime !=null and jkupdatetime !=''">
                jkupdatetime=#{jkupdatetime},
            </if>
            <if test="jkaddperson !=null and jkaddperson !=''">
                jkaddperson=#{jkaddperson},
            </if>
            <if test="jkupdateperson !=null and jkupdateperson !=''">
                jkupdateperson=#{jkupdateperson},
            </if>
        </set>
        where jkid=#{jkid}
    </update>

    <select id="findJkyById" parameterType="String"
            resultType="jky">
		select jkname , jkcourse,jkpw,jkaddtime,jkupdatetime,jkaddperson ,jkupdateperson from jky where jkid =#{jkid}
	</select>

    <delete id="deleteJky" parameterType="Integer">
		delete from jky where jkid=#{jkid}
	</delete>

</mapper>