<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qst.examsystem.mapper.KcxxMapper">
    <!--添加考场信息-->
<insert id="insertKcxx" parameterType="kcxx">
    <![CDATA[
INSERT INTO kcxx ( kcname, kcnum, badnum, nullnum, jkname, kcno )
VALUES
	(#{kcname},#{kcnum},#{badnum},#{nullnum},#{jkname},#{kcno})
]]>
</insert>
    <!--查询考场信息-->
    <select id="selectKcxxInfo" resultType="kcxx">
        <![CDATA[
		SELECT
		    kcid,
			kcname,
			kcnum,
			badnum,
			nullnum,
			jkname,
			kcno
	FROM
	kcxx
]]>
    </select>
    <update id="addKCXX" parameterType="kcxx">
        update kcxx set kcnum=#{kcnum},
			badnum=#{badnum},
			nullnum=#{nullnum},
			jkname=#{jkname},
			kcno=#{kcno}
			where kcid=#{kcid}
    </update>
</mapper>