<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>
    <select id="chouSj" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
SELECT
	stid,
-- 	cid,
	contain
-- 	type1,
-- 	degree,
-- 	tid
FROM
	(
	SELECT
		RAND( ) AS rowId,
		stid,
		cid,
		type1,
		contain,
		answer,
		degree,
		tid
	FROM
		testquestion
	WHERE
		cid = #{cid}
	) t
ORDER BY
	rowId
	LIMIT 0,
	20

]]>
    </select>
</mapper>