<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qst.examsystem.mapper.TeacherMapper">
   <!-- （tid，姓名 tname，工号 tno，密码 tpw，添加时间 taddtime，修改时间 tupdatetime，添加人 taddperson，修改人 tupdateperson）-->
    <select id="findTeacherByCond" parameterType="teacher"
            resultType="teacher">
        select tname, tno, tpw, taddtime, tupdatetime, taddperson, tupdateperson from teachers
    </select>

    <select id="findTeacherCount"  resultType="int"  parameterType="teacher">
        select count(*) from teachers
    </select>

    <insert	id="addTeacher" parameterType="teacher" >
		insert into teachers(tname, tno, tpw, taddtime, tupdatetime, taddperson, tupdateperson)
			values(#{tname},#{tno},#{tpw},#{taddtime},#{tupdatetime},#{taddperson},#{tupdateperson})
	</insert>

    <update id="findTeacherModify"  parameterType="teacher">
        update teachers
        <set>
            <if test="tname !=null and tname!=''">
                tname=#{tname},
            </if>
            <if test="tno !=null and tno !=''">
                tno=#{tno},
            </if>
            <if test="tpw !=null and tpw !=''">
                tpw=#{tpw},
            </if>

                taddtime=#{taddtime},

                tupdatetime=#{tupdatetime},

            <if test="taddperson !=null and taddperson !=''">
                taddperson=#{taddperson},
            </if>
            <if test="tupdateperson !=null and tupdateperson !=''">
                tupdateperson=#{tupdateperson},
            </if>

        </set>
        where tid=#{tid}
    </update>

    <select id="findTeacherById" parameterType="Integer"
            resultType="teacher">
		select tname, tno, tpw, taddtime, tupdatetime, taddperson, tupdateperson  from teachers where tid =#{tid}
	</select>

    <delete id="deleteTeacher" parameterType="Integer">
		delete from teachers where tid=#{tid}
	</delete>

    <!--* 计算学生成绩-->
    <select id="countDegree" resultType="java.util.Map">
    SELECT
        count( degree ) * 2 as score
    FROM
        ksda k
        LEFT JOIN testquestion tq ON tq.stid = k.stid
        LEFT JOIN students st ON st.khid = k.khid
        LEFT JOIN dj ON dj.khid = st.khid
        LEFT JOIN sj ON sj.sjid = dj.sjid
    WHERE
        k.dacontain = tq.answer
        and k.khid=#{khid}
    </select>
    <update id="insertScore" parameterType="java.util.Map">
        	update dj set
        	<if test="score!=null" >
                score=#{score},isreade=1
            </if>
        	where khid=#{khid}
    </update>

    <!--查询某一科低于平均分的同学成绩-->
    <select id="selectAVGDegree" parameterType="java.util.Map" resultType="java.util.Map">
        <![CDATA[
   SELECT
        zyname,
        sname,
        sjname,
        ( SELECT AVG( score ) FROM dj LEFT JOIN sj ON dj.sjid = sj.sjid WHERE sjname = #{sjname} ) AS avgScore,
        score
        FROM
        sj
        LEFT JOIN dj ON sj.sjid = dj.sjid
        LEFT JOIN students s ON dj.khid = s.khid
        LEFT JOIN zy ON zy.zyid = s.zyid
        WHERE
        score<( SELECT AVG( score ) FROM dj WHERE sjname = #{sjname} )
        ORDER BY
        score

]]>
    </select>

    <!--根据试卷名查询所有成绩-->
    <select id="selectAllDegreeBySJName" resultType="java.util.Map" parameterType="java.util.Map">
        <![CDATA[
            SELECT
            zyname,
            sname,
            sjname,
            score
        FROM
            sj
            LEFT JOIN dj ON sj.sjid = dj.sjid
            LEFT JOIN students s ON dj.khid = s.khid
            LEFT JOIN zy ON zy.zyid = s.zyid
             where sjname=#{sjname}
            ORDER BY score
        ]]>
    </select>
    <select id="teacherlogin" parameterType="String" resultType="teacher">
        <![CDATA[
        select tname,tpw from teachers where tname =#{tname}
]]>
    </select>
</mapper>