<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qst.examsystem.mapper.TtMapper">

    <!--添加套题-->
    <insert id="insertTt" parameterType="taoti">
        <![CDATA[
          insert into
               tt(sjid,stid,ttaddtime,ttupdatetime,ttaddperson,ttupdateperson)
           values(#{sjid},(#{stid}),#{ttaddtime},#{ttupdatetime},#{ttaddperson},#{ttupdateperson})
         ]]>
    </insert>

    <!--查询套题-->
    <select id="queryTt" resultType="taoti">
        <![CDATA[
          select  ttid,sjid,stid,ttaddtime,ttupdatetime,ttaddperson,ttupdateperson
          from tt
        ]]>
    </select>

    <!--根据套题ID删除套题-->
    <delete id="deleteTt" parameterType="int">
        <![CDATA[
           delete from tt where ttid=#{ttid}
         ]]>
    </delete>

    <!--根据套题ID查询题目及答案-->
    <select id="getTt" resultType="com.qst.examsystem.entity.Tt" parameterType="int">
        <![CDATA[
        select
        cid,
		type,
		contain,
		answer,
		degree,
		tid,
		staddtime,
		stupdatetime,
		staddperson,
		stupdateperson
       from
         testquestion te left join tt on te.stid=tt.stid left join sj on tt.sjid=sj.sjid where ttid=#{ttid}
        ]]>
    </select>
</mapper>