<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qst.examsystem.mapper.ZyMapper">
    <!--查询所有
     （zyid，专业名称 zyname ，专业代号 zyno ，添加时间 zyaddtime ，修改时间 zyupdatetime ，添加人 zyaddperson ，修改人 zyupdateperson ）
     -->
  <select id="queryZy" resultType="zy">
      select zyid,zyname,zyno,zyaddtime,zyupdatetime,zyaddperson,zyupdateperson
      from zy
  </select>

  <insert id="insertZy"  parameterType="zy">
      insert into zy
      (zyname,zyno,zyaddtime,zyaddperson)
      values (#{zyname},#{zyno},#{zyaddtime},#{zyaddperson})

  </insert>
    
    <delete id="deleteZy" parameterType="int">
           delete from zy where zyid=#{zyid}
    </delete>

    <update id="updateZy" parameterType="zy">
        update zy set
            zyname=#{zyname},zyno=#{zyno},zyupdatetime=#{zyupdatetime},zyupdateperson=#{zyupdateperson}
         where zyid=#{zyid}
    </update>
    <select id="selectOneZy" parameterType="int" resultType="zy">
      select zyid,zyname,zyno,zyaddtime,zyupdatetime,zyaddperson,zyupdateperson
      from zy where zyid=#{zyid}
    </select>
</mapper>